<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime inventore aliquam at animi fugiat omnis quibusdam excepturi voluptas ab neque?</p>
    </div>
</section>