<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error cum quaerat reprehenderit, amet
        commodi porro.</p>

    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae explicabo error ducimus voluptas sequi, aut
        at adipisci exercitationem soluta placeat.</p>

    <a href="https://carldesigner.github.io/CarlDesigner_Portfolio/" class="btn btn-primary">CarlDesigner</a>

</div>