<h1>Navigation</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, ipsum exercitationem quia iusto laboriosam
    fugit amet dolor omnis vero odit deleniti ut repellat obcaecati vitae illo. Delectus ex nisi eos!</p>

<h1>Footer</h1>